.form-page{
    width: 100%;
    height: calc(100vh - 8vh);
    // border: 2px solid red;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #38899df1;
    .form-container{
        height: 90%;
        background-color: rgb(252, 252, 252,0.5);
    border-radius: 20px 20px;
       box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
       padding: 50px;
       .form-inputs{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        .input-group{
            margin: 5px ;
            .input-group-text{
                width: 100px;
                margin-right: 10px;
            }
        }
        .btn{
            width: 100px;
            margin: 10px auto;
        }
        .message-text{
            margin: 0 auto;
        }
       }
    } 
}            
    
  